{% extends 'base.html' %}

{% block title %}Edit post{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Ticketing Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_tickets' post.ticket.board.pk %}">{{ post.ticket.board.name }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'ticket_posts' post.ticket.board.pk post.ticket.pk %}">{{ post.ticket.subject }}</a></li>
  <li class="breadcrumb-item active">Edit post</li>
{% endblock %}

{% block content %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'ticket_posts' post.ticket.board.pk post.ticket.pk %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>
{% endblock %}