{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Create a New Ticket{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Ticketing Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_tickets' board.pk %}">{{ board.name }}</a></li>
  <li class="breadcrumb-item active">Create New Ticket</li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Post</button>
  </form>
{% endblock %}